/*!
 * Vitality v1.3.2 (http://themes.startbootstrap.com/vitality-v1.3.2)
 * Copyright 2014 Start Bootstrap Themes.
 * Licensed at WrapBootstrap, visit WrapBootstrap to purchase a usage license for this theme (https://wrapbootstrap.com/)
 */


header .intro-content {
    color: #ef4035;
}

header .scroll-down .btn {
    border: 2px solid #ef4035;
    color: #ef4035;
}


